body{
    margin:0;
  }
  
  a{
    text-decoration: none;
    color: black;
  }
  
  /*.top-section {
    display: block;
    box-sizing: border-box;
  }
  */
  .navbar-area{
    /*position: fixed;
    width:100%;*/
    align-items:center;
    background-color: #fbdc00;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding : 8px 16px;
  }
  
  .navbar-icon{
    margin-left: 125px;
    margin-top:0;
  }
  
  .main-menu{
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left:10px;
  }
  
  .menu-item{
    font-family: 'Ubuntu','PT Sans', sans-serif;
    font-weight: 500;
    font-size:14px;
    padding-left: 30px;
    padding-right: 30px;
  }
  
  
  .menu-item:hover{
    color:red;
  }
  
  .login-signup{
    margin: 0;
    margin-right: 100px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /*padding-right: 150px;*/
  }
  
  .login-signup li{
    font-family: 'Ubuntu','PT Sans', sans-serif;
    font-size: 14px;
    font-weight: 500;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  
  
  .signup-button{
    background-color: #ee3425;
    border:none;
    font-family: "PT Sans", sans-serif;
    color: white;
    font-size: 14px;
    font-weight: 700;
    width:70px;
    height:35px;
    border-radius: 5px;
  }
  
  /* Navbar section ends */
  
  /* introduction section css styling begins */
  
  .introduction-block{
    background: url(https://cdn.cogoport.io/cms-prod/vault/original/home-banner-background-1.webp);
    /*background-image: url(F:\Cogoport-Assignment1\images\home-banner-background-1.webp);*/
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #fede00;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: -60px;
    padding-top:60px;
  }
  
  .inside-introduction-block{
    display: flex;
    flex-direction: column;
    padding-top: 125px;
    padding-right: 75px;
  
  
  }
  
  .get-started-button{
    margin-top: 10px;
    font-size: 14px;
    font-family: 'PT Sans', sans-serif;;
    background-color: #ee3425;
    border: none;
    width: 150px;
    height:35px;
    color: white;
    border-radius: 5px;
    font-weight: 600;
  }
  
  /* introduction section css styling ends */
  
  /* Facts section css styling begins */
  
  .details-block{
    padding: 50px 100px;
    display: flex;
    justify-content: space-around;
  }
  
  .details-inside-block{
    text-align: center;
  }
  
  .details-inside-block h2{
    font-size: 40px;
    font-family: 'Ubuntu', sans-serif;
    color: red;
  }
  
  .details-inside-block h4{
    margin-top: -20px;
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
  }
  
  /* Facts section css styling ends */
  
  /* Block3 */
  
  .Block3{
    background-color: #fffef3;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 50px 100px;
  }
  
  .Block3-1{
    align-content: center;
    padding-left: 80px;
  }
  
  .Block3-1 h2{
    font-size: 40px;
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 10px;
  }
  
  .Block3-1 p{
    font-size: 16px;
    font-family: 'PT Sans', sans-serif;
  }
  
  .Block3-2{
    padding-left: 80px;
  }
  
  /* Block3 */
  
  /* Our Products section css styling begins */
  
  .Block4{
    background-color: #fffef3;
    display: flex;
    flex-direction: column;
    padding-left: 50px;
  }
  
  .Block4-table{
    display: flex;
    flex-direction: column;
  
  }
  
  .Block4-productcategory{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px 0;
  }
  
  .Block4-productcategory h4{
    font-size: 24px;
    font-family: 'Ubuntu', sans-serif;
  }
  
  .Block4-productrow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 30px;
  }
  
  .row1{
    margin-left: 120px;
  }
  
  .row2{
    margin-left: 185px;
  }
  
  .row3{
    margin-left: 140px;
  }
  
  .row4{
    margin-left: 200px;
  }
  
  .productbox{
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: space-around;
    align-items: center;
    border: 1px solid white;
    border-radius: 10px;
    width: 184px;
    height:160px;
    margin:16px;
    padding: 0;
    box-shadow: 1px 1px 6px grey;
  }
  
  .productbox:hover{
    border:1px solid #ee3425;
  }
  
  .productbox h4{
    margin:0;
    text-align: center;
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
  }
  
  .productbox h6{
    color: #ee3425;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    margin: 0;
  }
  
  /*Our Products section css styling ends */
  
  /* Trust Section css styling begins */
  
  .trusted-section{
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
  }
  
  .trusted-image-section{
    margin-bottom: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
  .trusted-image-section img{
    width:75px;
    height:50px;
  }
  
  /*Trust section css styling ends */
  
  .work-section{
    background-color: #fbdc00;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 155px;
  }
  
  .work-section h3{
    font-family: 'Ubuntu',sans-serif;
    font-weight: bold;
    font-size: 28px;
  }
  
  .work-section button{
    border: none;
    color: white;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    width:120px;
    height:35px;
    color: white;
    background-color: #ee3425;
    border-radius: 5px;
  }
  
  .how-block{
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px;
    padding-bottom: 80px;
  }
  
  .how-button-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .how-button{
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    border: none;
    border-radius: 25px;
    width:200px;
    height: 40px;
    margin: 10px 10px;
  }
  
  .how-diagram-section{
    display: flex;
    flex-direction: row;
    font-family: 'PT Sans', sans-serif;
  
  }
  
  .sidecolumns{
    display: flex;
    flex-direction: column;
  
  }
  
  .midcolumn{
    display: flex;
    flex-direction: column;
  }
  
  /*.la1{
    margin-left:0px;
    margin-bottom: -15px;
  }
  .la2{
    padding-left: 300px;
    margin-bottom:-15px;
  }
  .la4{
    padding-left: 300px;
  }*/
  
  .stage-box{
    width:280px;
    padding: 5px 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 6px grey;
  }
  
  .stage-box p{
    color: #ee3425;
    font-size: 16px;
    font-weight: 600;
  }
  
  .icon{
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
  .icon-heading{
    font-weight: 600;
    font-size: 20px;
    padding-left: 10px;
  }
  
  .list-section{
    font-family: 'PT Sans', sans-serif;
    margin-left: -20px;
  
  }
  
  /* Industry Section css styling begins */
  
  .industry-section{
    background-color: #fffef3;
    display: flex;
    flex-direction: column;
  
  }
  
  .industry-first-section{
    padding-top: 10px;
  }
  
  .industry-heading{
    font-size: 28px;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
  }
  
  .industry-second-section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 20px;
    padding-left: 140px;
    padding-right: 150px;
    padding-bottom: 17px;
  }
  
  .image-class{
    width: 100px;
    height: 100px;
  }
  
  /* Industry Section css styling ends */
  
  /* Get Started Section css styling begins */
  
  .Get-Started-block{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 100px 100px;
  }
  
  .trade-image{
    padding-left:80px;
  }
  
  .trade-image img{
    width:280px;
    height:300px;
  }
  
  .inside-Get-Started-block{
    align-content: center;
    padding-right: 100px;
  
    padding-left: 80px;
  
  }
  
  .inside-Get-Started-block h2{
    font-size: 40px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    margin-bottom: 15px;
  }
  
  .inside-Get-Started-block p{
    margin: 0;
    font-size: 16px;
    font-family: 'PT Sans', sans-serif;
    padding: 10px 5px;
  }
  
  
  .gs{
    font-weight: 600;
  }
  
  /* Get Started Section css styling ends */
  
  /* Video section css styling begins */
  
  .video-container{
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,.4);
  }
  
  .know-more-section{
    background-color: #ee3425;
    margin-top:-10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 40px 100px;
    align-items:center;
  }
  
  .kmblock1{
    padding-right: 550px;
  }
  
  .know-more-section h2{
    margin-top: 0;
  }
  
  .know-more-button{
    border: none;
    background-color: #fbdc00;
    border-radius: 3px;
    width:120px;
    height: 35px;
    font-weight: bold;
  }
  
  
  /* Video section css styling ends */
  
  /* Blogs section css styling begins */
  
  .blogs{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }
  
  .blogsblock{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin:20px;
  }
  
  .blogbox{
    width:380px;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px grey;
    margin-left: 5px;
    margin-right: 5px;
    overflow: hidden;
  }
  
  .content-section{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .content-section h4{
    margin:0;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: 'Ubuntu', sans-serif;
  }
  
  .content-section p{
    font-family:'PT Sans', sans-serif;
    margin: 0;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  
  .content-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .viewbutton{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .vabutton{
    width:100px;
    height:40px;
    background-color: #ee3425;
    color: white;
    font-size: 14px;
    font-weight: 700;
    font-family: 'PT Sans', sans-serif;
    border-radius: 5px;
    border: none;
  }
  
  
  /* Blogs section css styling ends */
  
  /* Subscription section css styling begin*/
  
  .Subscription-section{
    padding-top: 40px;
    background-color: #fbdc00;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 35px;
  }
  
  .Subscription-image{
    padding-right: 50px;
  }
  
  .Subscription-input{
    display: flex;
    flex-direction: row;
  }
  
  .email-input{
    border: none;
    border-radius: 5px 0 0 5px;
    width:250px;
    height:40px;
  }
  
  .Subscription-button{
    font-family: 'PT Sans', sans-serif;;
    font-size: 14px;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 0 5px 5px 0;
    background-color: #ee3425;
    height:40px;
    width:100px;
  }
  
  /* Subscription section css styling end */
  
  /* Products section css styling  begin */
  
  .bottom-block-2{
    /*border: solid;
    border-color: #fbdc00;*/
    background-color: #fbdc00;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    padding-right: 200px;
  }
  
  .bottom-inside-block-2 h3{
    font-size: 20px;
    font-family: 'PT Sans', sans-serif;
    text-decoration: underline;
    font-weight: 700;
  }
  
  .bottom-inside-block-2 h4{
    font-size: 14px;
    font-family: 'Ubuntu', sans-serif;
  }
  
  .bottom-inside-block-2 p{
    color: #2c3e50;
    font-size: 14px;
    font-family: 'Ubuntu', sans-serif;
  }
  
  .bottom-inside-block-2 p:hover{
    text-decoration: underline;
  }
  
  .supply{
    padding-top: 37px;
  }
  
  /* Products section css styling end */
  
  
  .Routes{
    background-color: #ebbe00;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  
  .Routes div{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .routes-column p{
    font-size: 14px;
    font-family: 'PT Sans', sans-serif;
  }
  
  .Routes p:hover{
    color: red;
    font-weight:700;
  }
  
  .footer-section{
    padding-left: 50px;
    padding-right: 50px;
    background-color: #ebbe00;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  
  .footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 20px;
  }
  
  .footer p{
    margin: 0;
    font-size:12px;
    font-family: 'Ubuntu', sans-serif;
    padding-right: 40px;
  }
  
  .tac{
    font-weight: bold;
  }
  
  .tac a{
    text-decoration: none;
    color: black;
    font-weight: bold;
  }
  
  .tac a:hover{
    text-decoration: underline;
  }